node_modules
# Keep environment variables out of version control

.env
*.sqlite
*.db
/generated/prisma
/events.tsv
/clientsecret.txt
/client_secret_406084387755-1v153bma8gb29cv4cvoe561u5l329723.apps.googleusercontent.com.json